
body{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  color: #d5d9dc  ;
  margin-bottom:50px;
}

a{
  text-decoration: none !important;
  color: black
}

div#conteudo div.col-md-3, div#conteudo div.col-md-4{
  margin-top: 30px;
}

   
.carousel-inner img {
  width: 100%;
  height: 100%;
}

#custCarousel .carousel-indicators {
position: static;
margin-top:20px;
}

#custCarousel .carousel-indicators > li {
width:100px;
}

#custCarousel .carousel-indicators li img {
display: block;
opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
opacity: 0.75;
}

.carousel-item img{
  width:80%;
}

.jumbotron{
  background-color: transparent;
}

.card-footer{
  background-color: #272727;
  text-align: center;
  color: #fff;
}


.carousel-control-prev{
  z-index: 999;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  cursor: pointer;
}

/* Estilos para o lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  display: block;
  margin: auto;
}

.close-button,
.prev-button,
.next-button {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.close-button {
  right: 20px;
  top: 20px;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}